@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir-Regular-FD.eot");
    /* IE9 Compat Modes */
    src: 
        url("../fonts/Vazir-Regular-FD.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Vazir-Regular-FD.woff2") format("woff2"),
        url("../fonts/Vazir-Regular-FD.woff") format("woff"),
        url("../fonts/Vazir-Regular-FD.ttf") format("truetype"),
        url("../fonts/Vazir-Regular-FD.svg") format("svg");
    /* Legacy iOS */
}

/*general style*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Vazir;
}

body {
    background-color: lightgray;
}

a {
    font-size: 14px;
}

p {
    font-size: 12px;
}

small {
    font-size: 10px;
}

/*header*/

header, footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(85, 85, 85);
    overflow: hidden;
}

header ul {
    display: flex;
    place-items: center;
    height: 100%;
}

header li {
    display: inline-block;
    height: 100%;
}

header a {
    text-decoration: none;
    display: flex;
    place-items: center;
    height: 100%;
    padding: 5px;
    color: white;
}

header a:hover {
    color: gold;
}

.header-logo-frame {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 10px;
}

.header-logo-frame img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header-logo-border-point {
    width: 120%;
    height: 120%;
    animation: rotatePoint 60s infinite linear;
}

/*footer*/

footer {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer li {
    display: inline-block;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: gold;
}

footer small {
    color: rgb(163, 163, 163);
    text-align: center;
}

.social-media-links {
    text-align: center;
}

.social-media-links a {
    transition: all 1s;
}

.social-media-links a:hover {
    filter: drop-shadow(0 0 10px white);
}

.social-media-links i {
    font-size: 24px;
    margin: 5px 4px;
}

/*section 1 slider*/
.slider-frame{
    position: relative;
    overflow: hidden;
    background-color: green;
}

#fix-size-image {
    width: 100%;
    height: auto;
    visibility: hidden;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.slide img {
    width: 100%;
}

.slide .info {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    margin-right: 4%;
}

.slide .info p {
    background-color: rgba(0, 0, 0, 0.349);
    width: 60%;
    padding: 5px;
}

.navigation {
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translateX(50%);
}

/*animations*/

@keyframes rotatePoint {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}