@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir-Regular-FD.eot");
    /* IE9 Compat Modes */
    src: 
        url("../fonts/Vazir-Regular-FD.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Vazir-Regular-FD.woff2") format("woff2"),
        url("../fonts/Vazir-Regular-FD.woff") format("woff"),
        url("../fonts/Vazir-Regular-FD.ttf") format("truetype"),
        url("../fonts/Vazir-Regular-FD.svg") format("svg");
    /* Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Vazir;
}

body {
    background-color: lightgray;
}

a {
    font-size: 14px;
}

p {
    font-size: 12px;
}

small {
    font-size: 10px;
}

header, footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(85, 85, 85);
}

header ul {
    display: flex;
    place-items: center;
    height: 100%;
}

header li {
    display: inline-block;
    height: 100%;
}

header a {
    text-decoration: none;
    display: flex;
    place-items: center;
    height: 100%;
    padding: 5px;
    color: white;
}

header a:hover {
    color: gold;
}

.header-logo-frame {
    padding: 5px;
}

.header-logo-frame img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 1px dashed white;
    animation: rotateOutline 3s infinite;
}

footer {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer li {
    display: inline-block;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: gold;
}

footer small {
    color: rgb(163, 163, 163);
    text-align: center;
}

.social-media-links {
    text-align: center;
}

.social-media-links a {
    transition: all 1s;
}

.social-media-links a:hover {
    filter: drop-shadow(0 0 10px white);
}

.social-media-links i {
    font-size: 24px;
    margin: 5px 4px;
}

.slider {
    height: 200px;
}

@keyframes rotateOutline {
    
}